.container-fluid {
  background-color: green;
  height: 100vh;
  position: relative;
}

.container-fluid p-card {
  z-index: 998;
  box-shadow: 0px 0px 25px rgb(61, 60, 60);
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.container-fluid p-card p {
  padding-bottom: 8%;
}

.ui-float-label {
  margin-bottom: 8%;
  font-size: large;
}

.container-fluid p-card label {
  padding-left: 10%;
}

.container-fluid p-card button {
  width: 80% !important;
  margin-bottom: 6%;
}

.ant-tabs-bar {
  display: none !important;
}

.ui-button-text {
  font-weight: bold !important;
}

.ui-inputtext,
.ui-button {
  border-radius: 0 !important;
}
 .ui-corner-all {
  border-radius: 0 !important;
}
