<div  style="padding: 2% 2% 2% 2%; background-color: 
White; border-style: solid 1px; margin: 2% 2% 2% 2%" >
<div style="padding-bottom: 15px;" class="row">
    <div style="font-size: 18px;" class="col-md-8"><span style="color: blue;" class="glyphicon glyphicon-plus"></span>&nbsp;Cadastro de grupo</div>
     
  </div>  
  <div style=" border-radius: 5px; padding: 15px 15px 20px 5px; border: 1px solid #dddddd;">
     <!-- Only required for left/right tabs -->
     

      
     <div class="form-group">
        <label for="exampleInputEmail1">Nome</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
        <small id="emailHelp" class="form-text text-muted"></small>
      </div>
      <div class="row">
          
        <div class="col-4">
          <div class="form-group" >
              
            <label for="exampleFormControlSelect2">Produtoes sem permissão</label>
            <select multiple class="form-control" style="height: 100px;" [(ngModel)]="corpo.id" id="exampleFormControlSelect2">
              <option [value]="i.id_informacao"  *ngFor="let i of informacao">{{i.nome}}</option>
            </select>
          </div>
        </div>
        <div class="col-1">
          <button type="button" (click)="add()" style="text-align: center;" class="btn btn-success">></button><br>
          <button type="button" (click)="addtodos()" class="btn btn-success">-></button><br>
          <button type="button" (click)="remove()" class="btn btn-success"> < </button><br>
          <button type="button" (click)="removetodos()" class="btn btn-success"> <- </button>
        </div>
        <div class="col-4"> 
          <div class="form-group">
            <label for="exampleFormControlSelect2">Produtoes com permissão</label>
         
              <select multiple class="form-control" style="height: 100px;" [(ngModel)]="corpo.id"  id="exampleFormControlSelect2">
                <option [value]="a.id_pessoa"  *ngFor="let a of pessoac">{{a.nome}}</option>
            </select>
          </div>
        </div>
    </div>
    <button type="button" (click)="salvardados()" class="btn btn-success" data-dismiss="modal">Salvar</button> &nbsp; &nbsp;
    <button style="text-align: right;" routerLink='/sistema/formulario/grupo' type="button" class="btn btn-secondary" style="text-align: left;" data-dismiss="modal">Voltar</button>
    
</div>
  <br>

  <div *ngIf="sucesso == true">
    <div class="alert alert-success" id="sucesso" role="alert">
        Cadastro feito com sucesso
      </div>
  </div>
  


</div>