<div  style="padding: 2% 2% 2% 2%; background-color: 
White; border-style: solid 1px; margin: 2% 2% 2% 2%" > 
<div class="row">
    <div style="font-size: 18px;" class="col-md-8"><span style="color: blue;" class="glyphicon glyphicon-search"></span>&nbsp;Consulta de menus</div>
     
  </div>
  <div style="background-color: #f2f2f2; border-radius: 5px; padding: 5px 5px 5px 5px; border: 1px solid #dddddd;">
    
  <div class="row"> 
    <div class="col-md-3"><input type="text" [(ngModel)]="corpo.nome"  placeholder="Nome" class="form-control" id="email"></div>
    <div class="col-md-3"><input type="text" [(ngModel)]="corpo.diretorio"  placeholder="Diretório" width="30px" class="form-control" ></div>
    <div class="col-md-3"><button type="button" (click)="pesquisamenu()" class="btn btn-default"><span class="glyphicon glyphicon-search"></span>&nbsp;Buscar</button></div>
    <div class="col-md-3" style="text-align: right"><button type="button" routerLink='/sistema/configuracao/cadastro-menu'  class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> novo menu</button></div>
  </div>
</div>
  <br>

  

<p-table [value]="menu" [responsive]="true" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
        <tr>
            <th style="width:6%; text-align: center;">COD</th>
            <th style="width:41%; text-align: center;" >NOME</th>
            <th style="width:41%; text-align: center;">DIRETORIO</th>
            <th style="width:12%; text-align: center;">OPÇÕES</th> 
        </tr>
    </ng-template>  
    <ng-template pTemplate="body" let-obj>
        <tr>
            <td style="width:6%">{{obj.id_menu}}</td>
            <td style="width:41%">{{obj.nome}}</td>
            <td style="width:41%">{{obj.diretorio}}</td>
            <td style="width:12%"> <button style="text-align: center;" type="button" routerLink='/sistema/configuracao/edita-menu/{{obj.id_menu}}'  class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></button>&nbsp; </td>
        </tr>
    </ng-template>
</p-table>
</div>
